body {
  font-family: "Inter", sans-serif;
}
.container bg-color{
    FFFFF4
}
.navbar-brand img {
  height: 30px;
  width: auto;
}
.button img {
  height: 30px;
  width: auto;
}
.left-side img {
  height: 90px;
  width: auto;
  margin: 10px;
  padding-right: 10px;
}
.right-side img {
  height: 350px;
  width: auto;
  margin-left: 50px;
}
header .bg-color-top{
    background-color: FBF3E5;
}
