body {
  font-style: italic;

  font: 2em sans-serif;
}
.bg-color-top- {
  color: rgb(221, 188, 160);
}
.navbar-brand img {
  height: 30px;
  width: auto;
}
.button img {
  height: 30px;
  width: auto;
}
.left-side img {
  height: 90px;
  width: auto;
  margin: 10px;
  padding-right: 10px;
}
.right-side img {
  height: 350px;
  width: auto;
  margin-left: 50px;
}
.bottom-card img {
  height: 80px;
  width: auto;
}

header .bg-color-top {
  background-color: FBF3E5;
}
.card-img-top {
  height: 300px;
  width: auto;
  border-radius: 30px;
}
